.conditions {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

    .conditions .label {
        padding-right: 5px;
        display: inline-block;
        box-sizing: border-box;
        text-align: right;
    }

        .conditions .label + * {
            width: 100%;
        }
