@page "/page2"
@using Project.AppCore.PageHelper;
@using Project.Common.Attributes;
@attribute [PageGroup("Test2", "测试", "home")]
@attribute [PageInfo(Title = "测试2", Sort = 2)]
@implements IPageAction
<h3>Page2</h3>
<AntDesign.Button OnClick="@OnClick">跳转测试</AntDesign.Button>
@* <BlazorWeb.Shared.Components.JsTimer Interval="2000" Callback="Callback"></BlazorWeb.Shared.Components.JsTimer> *@
@* <BlazorWeb.Shared.Components.Downloader @ref=download></BlazorWeb.Shared.Components.Downloader> *@
@code {
    BlazorWeb.Shared.Components.Downloader? download;
    [Inject] NavigationManager Nav { get; set; }
    public Task OnShowAsync()
    {
        Console.WriteLine("Page2 OnShowAsync");
        return Task.CompletedTask;
    }

    public Task OnHiddenAsync()
    {
        Console.WriteLine("Page2 OnHiddenAsync");
        return Task.CompletedTask;
    }
    void OnClick()
    {
        Nav.NavigateTo("/nocache/page2");
    }

    void Callback()
    {
        Console.WriteLine("page2 interval...");
    }
}
