<div class="layout-logo @Class">
    @if (!collapse)
    {
        <img class="logo-img" src="/assets/logo.png" alt="logo">
        <div class="website-name" style="color: rgb(64, 158, 255);">@(Config.GetValue<string>("AppShortName") ?? "BlazorWeb")</div>
    }
    @if (ShowCollapseButton)
    {
        <SvgIcon ClassName="menu-collapse-icon" IconName="@IconName" OnClick="ToggleMenu" Style="cursor:pointer;"></SvgIcon>
    }
</div>

@code {
    [Parameter] public EventCallback<bool> OnToggleCollapse { get; set; }
    [Parameter] public bool ShowCollapseButton { get; set; } = true;
    [Parameter] public string Class { get; set; }
    [Inject] public IConfiguration Config { get; set; }
    private bool collapse = false;
    private string IconName => collapse ? "expand_menu" : "collapse_menu";
    async Task ToggleMenu()
    {
        collapse = !collapse;
        await OnToggleCollapse.InvokeAsync(collapse);

    }
}


