@using BlazorWeb.Shared.Template.Forms;
@using Project.Models.Permissions;
@inherits EntityFormTemplate<UserPwd>
@inject UserStore Store
@inject MessageService MsgSrv
<Form Model="Value" LabelAlign=@AntLabelAlignType.Right LabelColSpan="8" WrapperColSpan="16">
    <FormItem Label="@GetLocalizeString(nameof(Value.OldPassword))">
        <InputPassword @bind-Value=context.OldPassword></InputPassword>
    </FormItem>
    <FormItem Label="@GetLocalizeString(nameof(Value.Password))">
        <InputPassword @bind-Value=context.Password></InputPassword>
    </FormItem>
    <FormItem Label="@GetLocalizeString(nameof(Value.ConfirmPassword))">
        <InputPassword @bind-Value=context.ConfirmPassword></InputPassword>
    </FormItem>
</Form>

@code {
    protected override Task<bool> OnPostAsync()
    {
        if (Store.UserInfo!.Password != Value.OldPassword)
        {
            _ = MsgSrv.Error(GetLocalizeString("OldPasswordError"));
            return Task.FromResult(false);
        }
        if (Value.Password != Value.ConfirmPassword)
        {
            _ = MsgSrv.Error(GetLocalizeString("PasswordDifference"));
            return Task.FromResult(false);
        }
        return base.OnPostAsync();
    }
}
