@using Project.AppCore.Auth
@using Project.AppCore.Services;
@using Project.Common
@inject EventDispatcher dispatcher
@inject UserStore store
@inject AuthenticationStateProvider Auth
@inject ILoginService LoginSrv
<Dropdown Trigger=@(new Trigger[]{Trigger.Click}) Style="display:unset;">
    <Overlay>
        <Menu>
            <MenuItem>
                <Button Type="@ButtonType.Text" OnClick="HandlePwdModify">修改密码</Button>
            </MenuItem>
            <MenuItem>
                <Button Type="@ButtonType.Text" OnClick="HandleLogout">注销</Button>
            </MenuItem>
        </Menu>
    </Overlay>
    <ChildContent>
        <div class="wrapper">
            <img class="avatar" src="/assets/avator.png" />
            <span class="name">@DisplayName</span>
        </div>
    </ChildContent>
</Dropdown>

@code {
    private string DisplayName => store.UserDisplayName;

    async Task HandleLogout()
    {
        await LoginSrv.LogoutAsync();
        store.ClearUser();
        await ((CustomAuthenticationStateProvider)Auth).ClearState();
    }

    Task HandlePwdModify()
    {
        return Task.CompletedTask;
    }

}
