@using Project.AppCore.Routers;
@using System.Linq
@if (!HasChildren || onlyOneChildren)
{
    <MenuItem RouterLink="@Current.RouteUrl" RouterMatch="NavLinkMatch.All" Title=@Current.RouteTitle>
        <IconTemplate>
            <SvgIcon ClassName="nav-icon" IconName="@Current.Icon"></SvgIcon>
        </IconTemplate>
    </MenuItem>
}
else
{
    <SubMenu>
        <TitleTemplate>
            <span class="subtitle_template">
                <Icon>
                    <Component>
                        <SvgIcon ClassName="nav-icon" IconName="@Route.Icon"></SvgIcon>
                    </Component>
                </Icon>
                <span>@Route.RouteTitle</span>
            </span>
        </TitleTemplate>
        <ChildContent>
            @foreach (var item in Children)
            {
                <SideBarItem Route=item></SideBarItem>
            }
        </ChildContent>
    </SubMenu>
}


@code {
    [Parameter] public RouteMenu Route { get; set; }

    [Inject] RouterStore RouterStore { get; set; }

    public RouteMenu Current => onlyOneChildren ? Children.First() : Route;

    private bool onlyOneChildren => Children.Count() == 1;

    private bool HasChildren => Children.Any();

    private IEnumerable<RouteMenu> Children => RouterStore.Menus.Where(m => m.Group == Route.RouteId);
}
