.tags_box {
    border-top: 1px solid #d8dce5;
    border-bottom: 1px solid #d8dce5;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    padding: 3px 0 3px 10px;
}

    .tags_box .nav_top {
        display: inline-block;
        margin: 0 3px;
        cursor: pointer;
        height: 26px;
        line-height: 26px;
        border: 1px solid #d8dce5 !important;
        color: #495060;
        background: #fff;
        padding: 0 8px;
        font-size: 12px;
        text-decoration: none;
        transition: all 0.2s ease;
    }

        .tags_box .nav_top.active {
            background-color: #42b983 !important;
            color: #fff;
            border-color: #42b983;
        }

            .tags_box .nav_top.active::before {
                content: '';
                background: #fff;
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: relative;
                margin-right: 2px;
            }

.context {
    padding: 10px;
    border: 1px solid #d8dce5;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    display: none;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

    .context li {
        height: 26px;
        line-height: 26px;
        font-size: 14px;
        padding: 0 8px;
        color: #495060;
        cursor: pointer;
        list-style: none;
    }

        .context li:hover {
            color: #C0C0C0;
        }

    .context.open {
        display: block;
    }
