@using Microsoft.AspNetCore.Components.Web
@using Project.AppCore.Layouts.LayoutComponents
@using Project.Constraints
@using Project.Constraints.Store.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using System.Globalization;
@using Project.AppCore.Routers;
@using Project.AppCore.Layouts.Layouts;
@inherits LayoutComponentBase
@implements IDisposable
@layout AuthorizedLayout

<PageTitle>
    @($"管理系统 - {AppSession.RouterStore.Current?.RouteTitle ?? "主页"}")
</PageTitle>

<div class="page">
    <CascadingValue Value="this" IsFixed>
        @if (AppSession.AppStore.Mode == LayoutMode.Classic)
        {
            <ClassicLayout @ref=LayoutBase></ClassicLayout>
        }
        else if (AppSession.AppStore.Mode == LayoutMode.Card)
        {
            <CardLayout @ref=LayoutBase></CardLayout>
        }
        else if (AppSession.AppStore.Mode == LayoutMode.Line)
        {
            <LineLayout @ref=LayoutBase></LineLayout>
        }
        else
        {
            <div style="height:100vh; width:100vw;display: flex; align-items: center;justify-content: center;">
                <h1>Loading</h1>
            </div>
        }
        <WebSetting @ref=WebSetting></WebSetting>
    </CascadingValue>
</div>
@code {
    [Inject] IAppSession AppSession { get; set; }
    public LayoutBase? LayoutBase { get; set; }
    public WebSetting? WebSetting { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            if (WebSetting != null)
                WebSetting.SettingChanged += StateHasChanged;
        }
    }

    private bool disposedValue;
    protected virtual void Dispose(bool disposing)
    {
        if (!disposedValue)
        {
            disposedValue = true;
            if (WebSetting != null)
                WebSetting.SettingChanged -= StateHasChanged;
        }
    }

    public void Dispose()
    {
        Dispose(disposing: true);
        GC.SuppressFinalize(this);
    }

}