@typeparam TUser where TUser : class, IUser, new()
@typeparam TPower where TPower : class, IPower, new()
@typeparam TRole where TRole : class, IRole, new()
@inherits ModelPage<TUser, GenericRequest<TUser>>

<TwoSidePage OpenTrigger=@(() => currentSelected != null) Expand=@sideExpand MainFlex="3">
    <FirstSide>
        @TableFragment
    </FirstSide>
    <SecondSide>
        <AssignUserRoles TPower=TPower TRole=TRole Current="currentSelected"></AssignUserRoles>
    </SecondSide>
    <ClosedView>
        <h1>用户角色</h1>
    </ClosedView>
</TwoSidePage>
