@* 需要套一个元素才能让 ::deep 选择到 *@
<div style="height:100%;display:flex;flex-direction:column;" class="@Theme.ToString().ToLower()">
    <Menu Theme="@Theme"
          Mode="@(Horizontal ? MenuMode.Horizontal : MenuMode.Inline)"
          InlineCollapsed="@Collapsed"
          Style="flex: 1;">
        @* <MenuItem>
            <Project.Web.Shared.Layouts.LayoutComponents.Banner>
            </Project.Web.Shared.Layouts.LayoutComponents.Banner>
        </MenuItem> *@
        @foreach (var item in Router.Menus.Where(m => m.Group == "ROOT"))
        {
            <AntMenuItem Route=item></AntMenuItem>
        }
    </Menu>
</div>

@code {
    [Parameter, NotNull] public IRouterStore? Router { get; set; }
    [Parameter] public bool Horizontal { get; set; }
    [Parameter, NotNull] public IAppStore? App { get; set; }
    bool Collapsed => Horizontal ? false : App.Collapsed;
    MenuTheme Theme => App.MenuTheme switch
    {
        ThemeMode.Light => MenuTheme.Light,
        ThemeMode.Dark => MenuTheme.Dark,
        _ => MenuTheme.Light
    };
}
