@using Project.Constraints.Common.Attributes
@using Project.Web.Shared.Components
@using System.Data
<SplitView>
    <FirstContent>
        @* @UI.BuildDynamicTable(dt) *@
        <Project.Web.Shared.Basic.DataTableView Data="dt"></Project.Web.Shared.Basic.DataTableView>
    </FirstContent>
    <SecondContent>
        <h1>SSSSSSS</h1>
    </SecondContent>
</SplitView>

<div style="height:600px;">
    <SplitView Direction="column">
        <FirstContent>
            <h1>FFFFFFF</h1>
        </FirstContent>
        <SecondContent>
            <h1>SSSSSSS</h1>
        </SecondContent>
    </SplitView>
</div>

<EdgeWidget>
    <p>测试</p>
    <p>测试</p>
    <p>测试</p>
</EdgeWidget>

@code {
    DataTable dt = new DataTable();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        dt.Columns.Add("姓名");
        dt.Columns.Add("年龄");
        dt.Columns.Add("生日");

        foreach (var i in Enumerable.Range(1, 20))
        {
            var row = dt.NewRow();
            row["姓名"] = "测试";
            row["年龄"] = 10 + i;
            row["生日"] = "测试";
            dt.Rows.Add(row);
        }
    }
}