@using System.Diagnostics.CodeAnalysis
@namespace Project.Web.Shared.Components
<div class="two-side-page-wrapper" style="flex-direction:@Direction">
    <div class="page-content first" style="flex:@MainFlex;">
        @FirstSide
    </div>
    <div class="page-content second" style="flex:@(CanExpand?"1":"0");">
        @if (CanExpand)
        {
            @SecondSide
            @if (ShowClose)
            {
                <div style="position:absolute;top:0px;right:0px;">
                    <Button Icon="close" Type="@ButtonType.Primary" Danger OnClick="CloseSide"></Button>
                </div>
            }
        }
        else
        {
            if (ClosedView != null)
            {
                @ClosedView
            }
        }
    </div>
</div>
