.check-state {
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: pointer;
    position:relative;
}

.check-state-normal {
    background-color: #fff;
}

.check-state-checked {
    background-color: var(--major-color);
    border-color: var(--major-color);
}

    .check-state-checked::after {
        position: absolute;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1) translate(-50%,-50%);
        opacity: 1;
        transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
        content: ' ';
        width: 6px;
        height: 12px;
        left: 2px;
        top: 7px;
    }

.check-state-indeterminate {
    background-color: #fff;
}
    .check-state-indeterminate::after {
        position: absolute;
        border: 2px solid #1890ff;
        transform: scale(1) translate(-50%,-50%);
        opacity: 1;
        transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
        content: ' ';
        width: 10px;
        left: 50%;
        top: 50%;
    }
