@namespace Project.Web.Shared.Components
<Reconnector>
    <ReconnectingTemplate>
        <div class="mask">
        </div>
        <div class="connecting wrapper">
            <div class="content">
                <h1>
                    系统正在升级，请稍后
                    <span id="components-reconnect-current-attempt"></span> /
                    <span id="components-reconnect-max-retries"></span>
                    <MIcon IconName="svg-connecting" Style="width:2.5em;height:2.5em;"></MIcon>
                </h1>
            </div>
        </div>
    </ReconnectingTemplate>
    <ReconnectFailedTemplate>
        <div class="mask">
        </div>
        <div class="failed wrapper">
            <div class="content">
                <h1>无法连接服务器</h1>
                <h1>请检查网络是否通畅</h1>
                <a href="javascript:window.Blazor.reconnect()">重新连接</a>
                <a href="javascript:location.reload()">重新加载</a>
            </div>
        </div>
    </ReconnectFailedTemplate>
    <ReconnectRejectedTemplate>
        <div class="mask">
        </div>
        <div class="rejected content">
        </div>
        <div class="rejected wrapper">
            <div class="content">
                重连服务器失败，<a href="javascript:location.reload()">重新加载</a>
            </div>
        </div>
    </ReconnectRejectedTemplate>
</Reconnector>
