@using BlazorWeb.Shared.Layouts.LayoutComponents
@using BlazorWeb.Shared.Layouts.Layouts
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using System.Globalization;
@using Project.AppCore.Routers;
@inherits LayoutComponentBase
@layout AuthorizedLayout
@inject RouterStore Store
@inject AppStore App

<PageTitle>@($"管理系统 - {Store.Current?.RouteTitle ?? "主页"}")</PageTitle>

    <CascadingValue Value="this" IsFixed>

        <div class="page">

            @if (App.Mode == LayoutMode.Classic)
        {
            <ClassicLayout>
                @*@Body*@
            </ClassicLayout>
        }
        else if (App.Mode == LayoutMode.Card)
        {
            <CardLayout >
                @*@Body*@
            </CardLayout>
        }
        else if (App.Mode == LayoutMode.Line)
        {
            <LineLayout>
                @*@Body*@
            </LineLayout>
        }
        else
        {
            <div style="height:100vh; width:100vw;display: flex; align-items: center;justify-content: center;">
                <Spin Spinning Tip="初始化中……">
                 </Spin>
             </div>
        }
    </div>
</CascadingValue>
