@using BlazorWeb.Shared.Layouts.LayoutComponents
@inherits LayoutComponentBase
@layout AuthorizedLayout
@inject RouterStore store

<PageTitle>@($"管理系统 - {store.Current?.RouteName ?? "主页"}")</PageTitle>
@*<ReadyToDisplay>*@
    <div class="page">
        @*<div class="sidebar">
            <NavMenu />
            </div>*@
        <aside>
            <SideBar></SideBar>
        </aside>
        <main>
            <TagsView></TagsView>           
            <AppMain ChildContent="Body">
            </AppMain>
        </main>
        @*<BackTop TargetSelector=@("#main_content")></BackTop>*@
    </div>
@*</ReadyToDisplay>*@
