@inherits LayoutComponentBase
<div id="root" @onclick="HandleRootClick" @onkeyup=HandleKeyAction @ref="RootWrapper">
    <CascadingValue Value=this Name="LayoutRoot">
        @Body
    </CascadingValue>
</div>