@using BlazorAdmin.Client
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <Project.Web.Shared.Components.Link Href="_content/Project.Web.Shared/css/app.css" />
    <Project.Web.Shared.Components.Link Href="app.css" />
    <Project.Web.Shared.Components.Link Href="BlazorAdmin.styles.css" />
    <HeadOutlet @rendermode="@(new InteractiveAutoRenderMode(false))" />
</head>

<body>
    <Routes @rendermode="@(new InteractiveAutoRenderMode(false))" />

    <Project.Web.Shared.Components.ReconnectorOutlet @rendermode="@(new InteractiveAutoRenderMode(false))"></Project.Web.Shared.Components.ReconnectorOutlet>

    <script src="_framework/blazor.web.js"></script>
    <Project.Web.Shared.Components.Script Src="./js//blazor-admin-project.js"></Project.Web.Shared.Components.Script>
</body>

</html>