@page "/rolepermission"
@using AntDesign.TableModels
@using BlazorWebAdmin.Template.Tables
@using Project.Models.Permissions
<TwoSidePage OpenTrigger=@(() => CurrentRole != null)>
	<FirstSide>
		<TableTemplate TableOptions=roleOptions TData=Role TQuery=@(GeneralReq<Role>)>
		</TableTemplate>
	</FirstSide>
	<SecondSide>
		<Space>
			<SpaceItem>
				<Descriptions Title="角色权限配置">
					<DescriptionsItem Title="角色名称">@CurrentRole?.RoleName</DescriptionsItem>
				</Descriptions>
			</SpaceItem>
			<SpaceItem>
				<Button Icon="close" OnClick="CloseSide"></Button>
			</SpaceItem>
		</Space>
		<Spin Spinning=powerLoading>
			<Tree DataSource="powerTreeData"
				  Checkable
				  Multiple
				  ShowLine
				  @ref="treeInstance"
				  @bind-CheckedKeys=selectedKeys
				  CheckStrictly=false
				  TitleExpression="x => x.DataItem.Node.PowerName"
				  KeyExpression="x => x.DataItem.Node.PowerId"
				  ChildrenExpression="x => x.DataItem.Children"
				  TItem="PowerTreeNode">
				<SwitcherIconTemplate>
					<Icon Type="down" />
				</SwitcherIconTemplate>
			</Tree>
		</Spin>
		<Space>
			<SpaceItem>
				<Button Type="primary" OnClick=SaveRolePower>确定</Button>
			</SpaceItem>
		</Space>

	</SecondSide>
	<ClosedView>
		<h1>权限列表</h1>
	</ClosedView>
</TwoSidePage>