@page "/rolepermission"
@using AntDesign.TableModels
@using BlazorWebAdmin.Template.Tables
@using Project.Models.Permissions
<TwoSidePage OpenTrigger=@(() => CurrentRole != null)>
	<FirstSide>
		<TableTemplate TableOptions=roleOptions TData=Role TQuery=@(GeneralReq<Role>)>
		</TableTemplate>
	</FirstSide>
	<SecondSide>
		<Space>
			<SpaceItem>
				<Descriptions Title="角色权限配置">
					<DescriptionsItem Title="角色名称">@CurrentRole?.RoleName</DescriptionsItem>
				</Descriptions>
			</SpaceItem>
			<SpaceItem>
				<Button Icon="close" OnClick="CloseSide"></Button>
			</SpaceItem>
		</Space>
		<Spin Spinning=powerLoading>
			<BlazorWebAdmin.Components.MTree.MTree DataSource="powerTreeData"
												   @bind-CheckedKeys=selectedKeys
												   IncludeIndeterminate
												   TitleExpression="x => x.Node.PowerName"
												   KeyExpression="x => x.Node.PowerId"
												   ChildrenExpression="x => x.Children"
												   TNode="PowerTreeNode">
			</BlazorWebAdmin.Components.MTree.MTree>
		</Spin>
		<Space>
			<SpaceItem>
				<Button Type="primary" OnClick=SaveRolePower>确定</Button>
			</SpaceItem>
		</Space>

	</SecondSide>
	<ClosedView>
		<h1>权限列表</h1>
	</ClosedView>
</TwoSidePage>