* {
    margin: 0;
    padding: 0;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
    border-radius: 3px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }

.ant-card {
    margin-bottom: 10px;
}
