@using Project.Models.Permissions
@inherits EntityFormTemplate<Power>

<Form Model="Value" LabelAlign=@AntLabelAlignType.Right LabelColSpan="8" WrapperColSpan="16">
	<FormItem Label="权限ID">
		<Input @bind-Value=context.PowerId Disabled=edit></Input>
	</FormItem>
	<FormItem Label="权限名称">
		<Input @bind-Value=context.PowerName></Input>
	</FormItem>
	<FormItem Label="父级权限">
		<Input @bind-Value=context.ParentId></Input>
	</FormItem>
	<FormItem Label="权限类型">
		<EnumSelect TEnum="PowerType" @bind-Value=context.PowerType></EnumSelect>
	</FormItem>
	<FormItem Label="图标">
		<Input @bind-Value=context.Icon ReadOnly></Input>
		<IconSelector @bind-Value=context.Icon></IconSelector>
	</FormItem>
	<FormItem Label="路径">
		<Input @bind-Value=context.Path></Input>
	</FormItem>
	<FormItem Label="排序">
		<AntDesign.InputNumber @bind-Value=context.Sort></AntDesign.InputNumber>
	</FormItem>
</Form>