.queryarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.condition {
    flex: 1;
}

.enable-edit:hover {
    cursor: pointer;
    color: #1890ff;
}
