@using Project.Constraints.Services
@inherits JsComponentBase
<Project.Web.Shared.ComponentHelper.StackPanel>
    <span>
        主题颜色
    </span>
    <input type="color" value="@App.MainThemeColor" @onchange="@SetColor" />
    <Button Type="@AntDesign.ButtonType.Primary" OnClick="Reset">重置</Button>
</Project.Web.Shared.ComponentHelper.StackPanel>

@code {
    // private string? color;
    [CascadingParameter, NotNull] public IWebSettingHandler? Ws { get; set; }
    private async Task SetColor(ChangeEventArgs e)
    {
        var color = e.Value?.ToString();
        if (color != null && Context.Loaded)
        {
            await Js.InvokeVoidAsync("changeColor", color);
            await Ws.SaveSetting(a => a.MainThemeColor = color);
        }
    }

    private async Task Reset()
    {
        await Js.InvokeVoidAsync("resetThemeVariables");
        await Ws.SaveSetting(a => a.MainThemeColor = "#1890ff");
    }
}