@namespace BlazorWeb.Shared.Components
@inherits JsComponentBase
<div style="width:@($"{Width}px");padding:0;">
    <div style="border:1px solid #ccc;position:relative;padding:0;margin:0;width:@($"{Width}px");height:@($"{Height}px")">
        <video @ref=videoDom style="width:100%;height:100%;object-fit:fill;"></video>
        <div @ref=clipDom style="position:absolute;border:1px solid red;z-index:9999;display:none;resize: both;overflow: hidden;min-width:200px;min-height:100px;cursor:move;">
        </div>
        <canvas @ref=canvasDom style="display:none"></canvas>
    </div>
    @if (DeviceSelectorRender != null)
    {
        @DeviceSelectorRender(this)
    }
    else
    {
        <div style="width:100%;text-align:center;margin-top:10px;">
            <CustomSelect TItem=string Options="dropdownDevices" @bind-Value=selectedDeviceId Style="width:200px;"></CustomSelect>
            <Button OnClick="Start" Type="@ButtonType.Primary" Disabled=playButtonStatus>开启</Button>
            <Button OnClick="Stop" Type="@ButtonType.Primary" Disabled=!playButtonStatus>关闭</Button>
            <Button OnClick="Capture" Type="@ButtonType.Primary" Disabled=!playButtonStatus>拍照</Button>
        </div>
    }
</div>
