.stack-panel-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*    .stack-panel-wrapper ::deep *:nth-child(n+2) {
        margin-left: var(--stack-panel-gap);
    }*/
