<span class=@($"check-state check-state-{State}")></span>

@code {
	[Parameter]
	public string State { get; set; }

	public const string Checked = "checked";
	public const string Normal = "normal";
	public const string Indeterminate = "indeterminate";
}
