@typeparam TNode
<div class="power-tree-node" style="margin-left:@(Deepth * Root.Indent)px" @onclick="OnNodeClickAsync" @onclick:preventDefault @onclick:stopPropagation>
	<CheckBoxState State=@CheckState></CheckBoxState>
	<span class="node-title">@Root.TitleExpression(NodeValue)</span>
</div>
<div>
	@foreach (var child in Children)
	{//TODO 树节点子项折叠功能
		<CascadingValue Value="this" TValue="MTreeNode<TNode>">
			<MTreeNode NodeValue="child" Deepth=@(Deepth + 1)></MTreeNode>
		</CascadingValue>
	}
</div>
