@inherits ModelPage<User, GenericRequest<User>>

<TwoSidePage OpenTrigger=@(() => currentSelected != null) Expand=@sideExpand MainFlex="3">
	<FirstSide>
		<QueryConditions @bind-Expression=Options.Query.Expression>
			<SimpleCondition TData=string Label="条件1" @bind-Value=Options.Query.Keyword></SimpleCondition>
			<SimpleCondition TData=string Label="条件1" @bind-Value=Options.Query.Keyword></SimpleCondition>
			<SimpleCondition TData=string Label="条件1" @bind-Value=Options.Query.Keyword></SimpleCondition>
			<SimpleCondition TData=string Label="条件1" @bind-Value=Options.Query.Keyword></SimpleCondition>
		</QueryConditions>
		
		@TableFragment
	</FirstSide>
	<SecondSide>
		<AssignUserRoles Current="currentSelected"></AssignUserRoles>
	</SecondSide>
	<ClosedView>
		<AntDesign.Flex></AntDesign.Flex>
		<h1>用户角色</h1>
	</ClosedView>
</TwoSidePage>
