@page "/permission"
@using Project.Models.Entities.Permissions
@inherits ModelPage<Power, GenericRequest<Power>>
@TableFragment


@code {
    RenderFragment IconSelect()
    {
        return@<span>@("图标选择器(待完成)")</span>;
    }
}
