@page "/rolepermission"
@using Project.Constraints.UI.Tree
@using Project.Constraints.Models.Request;
@inherits ModelPage<Role, GenericRequest<Role>>
<TwoSidePage OpenTrigger=@(() => CurrentRole != null) @bind-Expand=@sideExpand MainFlex="3">
    <FirstSide>
        @TableFragment
    </FirstSide>
    <SecondSide>
        <div>
            <h1>
                角色权限配置
            </h1>
            <h2>角色名称: </h2>
        </div>
        <MTree DataSource="options.Datas"
               @bind-CheckedKeys=selectedKeys
               IncludeIndeterminate
                TitleExpression="x => x.Data.PowerName"
                KeyExpression="x => x.Data.PowerId"
                ChildrenExpression="x => x.Children"
                TNode="TreeData<Power>">
         </MTree>
         @* @UI.BuildTree(this, options).Bind(() => selectedKeys).Render() *@
        <div>
            @UI.BuildButton(this).OnClick(SaveRolePower).Text("保存").SetButtonType(ButtonType.Primary).Render()
        </div>
    </SecondSide>
    <ClosedView>
        <h1>权限列表</h1>
    </ClosedView>
</TwoSidePage>