@using Project.Constraints.Services
@page "/user/index"
@inject ICustomSettingProvider SettingProvider

@if (userPageType != null)
{
    <DynamicComponent Type="userPageType"></DynamicComponent>
}
else
{
    <h1>未提供用户管理页</h1>
}

@code {
    Type? userPageType;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        userPageType = SettingProvider.GetUserPageType();
    }
}


