.split-view {
    display: flex;
    height: 100%;
}

.view-content {
/*    padding: 10px;*/
}

.split-view.row .view-content-first {
    width: 50%;
    height: 100%;
}

.split-view-separator {
    box-shadow: var(--border-shadow);
    display: flex;
    align-items: center;
    /*    border: 1px solid #ccc;*/
}

.split-view.column .split-view-separator:hover {
    cursor: row-resize;
}

.split-view.row .split-view-separator:hover {
    cursor: col-resize;
}

.view-content-second {
    flex: 1;
    height: 100%;
}

.split-view.column .view-content-first {
    width: 100%;
    height: 50%;
}
