@namespace BlazorWeb.Shared.Components
<i @onclick="handleClick">
	@IconMarkuString
</i>
@code {
	[Parameter]
	public string? IconName { get; set; }

	MarkupString IconMarkuString;

	[Parameter]
	public string? ClassName { get; set; }

	[Parameter]
	public EventCallback OnClick { get; set; }

	private async Task handleClick()
	{
		await OnClick.InvokeAsync();
	}

	protected override async Task OnParametersSetAsync()
	{
		await loadSvgData();
		await base.OnParametersSetAsync();
	}

	async Task loadSvgData()
	{
		if (string.IsNullOrEmpty(IconName)) return;
		var svgContent = await SvgIconDataCache.GetIconDataByName(IconName);
		if (string.IsNullOrEmpty(svgContent))
		{
			IconMarkuString = new MarkupString($"<span class='iconfont {ClassName} icon-{IconName}'></span>");
		}
		else
		{
			var insertIndex = svgContent.IndexOf("<svg") + 4;
			svgContent = svgContent.Insert(insertIndex, $" class='svg-icon {ClassName}'");
			IconMarkuString = new MarkupString(svgContent);
		}
	}
}