.stack-panel-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .stack-panel-wrapper.row {
        flex-direction: row;
    }

        .stack-panel-wrapper.row ::deep > :nth-child(n+2 ) {
            margin-left: var(--stack-panel-gap);
        }

    .stack-panel-wrapper.column {
        flex-direction: column;
    }

        .stack-panel-wrapper.column ::deep > :nth-child(n+2 ) {
            margin-top: var(--stack-panel-gap);
        }
