<div class="stack-panel-wrapper  @(IsVertial ? "column":"row") @VertialAlign @HorizontalAlign" style="gap:@(Gap)px;">
    @ChildContent
</div>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int Gap { get; set; } = 10;
    /// <summary>
    /// row / column
    /// </summary>
    [Parameter] public string Direction { get; set; } = "row";
    [Parameter] public bool IsVertial { get; set; }

    /// <summary>
    /// top / middle / bottom
    /// </summary>
    [Parameter] public string VertialAlign { get; set; } = "middle";
    /// <summary>
    /// left / center / right
    /// </summary>
    [Parameter] public string HorizontalAlign { get; set; } = "center";
}
