@page "/"
@using System.Linq.Expressions;
@using Project.Constraints
@using Project.Constraints.Page
@using Project.Constraints.Services
@using Project.Web.Shared.ComponentHelper
@inherits BasicComponent
@inject IPageLocatorService Locator
@attribute [PageInfo(Icon = "home", Id = "Dashboard", Pin = true, Sort = 0, Title = "主页")]

<JsTimer Interval="1000" Callback="Update"></JsTimer>
    @if (homeType == null)
{
    <MCard>
        <h2>
            会话创建时间: @(User?.UserInfo?.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss"))
        </h2>
    </MCard>
    <MCard>
        <h2>
            会话持续时间: @((User?.UserInfo?.ActiveTime - User?.UserInfo?.CreatedTime)?.ToString("dd\\-hh\\:mm\\:ss"))
        </h2>
    </MCard>
}
else
{
    <DynamicComponent Type="homeType"></DynamicComponent>
}
<p>@UI.BuildButton(this).OnClick(() => IsWasm = OperatingSystem.IsBrowser()).Text("刷新").Render() WASM: @IsWasm</p>
@code {
    async Task Update()
    {
        if (User?.UserInfo != null)
        {
            User.UserInfo.ActiveTime = DateTime.Now;
        }
        await InvokeAsync(StateHasChanged);
    }
    Type? homeType;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        homeType = Locator.GetDashboardType();
    }

    bool IsWasm;

}
