@page "/"
@inherits AppComponentBase
@attribute [PageInfo(Icon = "home", Id = "Home", Pin = true, Sort = 0, Title = "主页")]
@if (homeType == null)
{
    <JsTimer Interval="1000" Callback="Update"></JsTimer>
    <MCard>
        <h2>
            会话创建时间<FontIcon IconName="fa fa-comment"></FontIcon>: @(User?.UserInfo?.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss"))
        </h2>
    </MCard>
    <MCard>
        <h2>
            会话持续时间<FontIcon IconName="fa fa-comment"></FontIcon>: @((DateTime.Now - User?.UserInfo?.CreatedTime)?.ToString("dd\\-hh\\:mm\\:ss"))
        </h2>
    </MCard>
}
else
{
    @* <DynamicComponent Type="homeType"></DynamicComponent> *@
    @RenderCustomHomePage()
}

@CurrentRenderMode()