<div class="bg">
    <div class="container">
        <div class="icon">🚫</div>
        <h1>权限不足</h1>
        <p>抱歉，您没有足够的权限访问此页面。这可能是因为：</p>
        <ul style="text-align: left; color: #747d8c; margin-bottom: 25px; padding-left: 20px;">
            <li>您的账户权限级别不够</li>
            <li>您尚未登录或会话已过期</li>
            <li>此资源需要特殊授权</li>
        </ul>

        <div class="contact">
            <p>如果您认为这是一个错误，请联系<a href="#">系统管理员</a></p>
        </div>
    </div>
</div>