@layout Project.Web.Shared.Layouts.RootLayout
@page "/unsupport"

<div class="box">
    <img src="/_content/Project.Web.Shared/assets/notsupport.jpg" style="width:60%;" />
    <h1>不支持的浏览器，为了获取更好的使用体验，推荐使用<a>Microsoft Edge</a></h1>
</div>
<style>
    .box{
        text-align:center;
        padding:40px;
    }
</style>
