@using Project.Constraints.UI.Flyout
@inherits DialogTemplate<string>
<h1>DialogTest</h1>
<input @bind-value=Value />
@code {
    public override Task<bool> OnPostAsync()
    {
        if (!string.IsNullOrEmpty(Value) && Value.Length > 5)
        {
            return Task.FromResult(true);
        }
        return Task.FromResult(false);
    }
}
