@page "/login"
@layout LoginLayout


<PageTitle>登录</PageTitle>

<div class="login-container">
	@*style="background-image: url('assets/login_bg.png')"*@
	<div class="title-container">
		<div class="title-position">
			@*style="background-image: url('assets/logo.png')"*@
			<h3 class="title">BlazorWebAdmin</h3>
		</div>
	</div>
	<div class="login-form">
		<MudForm  Model="model">
			<MudTextField @bind-Value=model.UserName T="string" Label="用户名" Required="true" RequiredError="用户名不能为空！"/>
			<MudTextField @bind-Value=model.Password T="string" Label="密码" Required="true" RequiredError="密码不能为空！" InputType=@InputType.Password/>			
		</MudForm>
		<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="HandleLogin">登录</MudButton>
	</div>
</div>
