@page "/table"
@using BlazorWebAdmin.Models.Entities
<h3>Table</h3>

<Table TItem=User DataSource="Users">
	<Column @bind-Field="context.UserId"></Column>
	<Column @bind-Field=context.UserName></Column>
	<Column @bind-Field=context.Age></Column>
</Table>
@code {
	private List<User> Users = null;
	protected override Task OnInitializedAsync()
	{
		Users = new List<User>();
		for (var i = 0; i < 10; i++)
		{
			Users.Add(new User
				{
					UserId = $"用户ID{i + 1}",
					UserName = $"用户姓名{i + 1}",
					Age = i + 10
				});
		}
		return base.OnInitializedAsync();
	}
}
