@namespace Project.Web.Shared.Components
@page "/download/{file}/{extension}"
@using Project.Common.Attributes;
@layout Project.Web.Shared.Layouts.AuthorizedLayout
@inject AuthenticationStateProvider Auth
@inject UserStore UserStore
@inherits JsComponentBase
@attribute [AutoLoadJsModule(Path = "Components/Download")]
<PageTitle>文件下载</PageTitle>
<div style="width:100%; text-align:center;padding-top:100px;">
    <h2>正在请求下载文件……</h2>
    <form action="/api/download" method="post">
        <input name="token" value="@UserStore.UserInfo?.ApiToken" hidden />
        <input name="filename" value="@($"{File}.{Extension}")" hidden />
        <h3>未开始下载? <button type="submit" @ref=downloadADom>点击重试</button></h3>
    </form>
</div>

@code {
    [Parameter] public string? File { get; set; }
    [Parameter] public string? Extension { get; set; }
    //string DownloadUrl => $"/api/download/{File}.{Extension}";
    Microsoft.AspNetCore.Components.ElementReference? downloadADom;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await (Module?.InvokeVoidAsync("download", downloadADom) ?? ValueTask.CompletedTask);
        }
    }
}
