@inject RouterStore store
@implements IDisposable
@foreach (var item in store.TopLink)
{
    if (item.Content == null) continue;
    <div id=@item.RouteLink class=@item.ItemClass>
        @RenderCacheItemContent(item.Content.Body)
    </div>
}

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [CascadingParameter]
    public RootLayout? Parent { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Parent!.OnNavigated += OnNavigated;
    }

    void OnNavigated(LocationChangedEventArgs e)
    {
        var uri = e.Location;
        var item = store.Current;
        if (item != null)
        {
            if (item.Content == null)
            {
                item.Content = new CacheItem()
                {
                    StartTime = DateTime.Now,
                    ActiveTime = DateTime.Now,
                    Body = ChildContent,
                };
            }
        }
        StateHasChanged();
    }

    private RenderFragment? RenderCacheItemContent(RenderFragment? content) => builder =>
    {
        var index = 0;
        builder.OpenComponent<ErrorCatcher>(index++);
        builder.AddAttribute(index++, nameof(ErrorCatcher.ChildContent), content);
        builder.CloseComponent();
    };

    private bool disposedValue;
    protected virtual void Dispose(bool disposing)
    {
        if (!disposedValue)
        {
            if (disposing)
            {
                // TODO: 释放托管状态(托管对象)
                Parent!.OnNavigated -= OnNavigated;
            }

            // TODO: 释放未托管的资源(未托管的对象)并重写终结器
            // TODO: 将大型字段设置为 null
            disposedValue = true;
        }
    }

    // // TODO: 仅当“Dispose(bool disposing)”拥有用于释放未托管资源的代码时才替代终结器
    // ~RootLayout()
    // {
    //     // 不要更改此代码。请将清理代码放入“Dispose(bool disposing)”方法中
    //     Dispose(disposing: false);
    // }

    public void Dispose()
    {
        // 不要更改此代码。请将清理代码放入“Dispose(bool disposing)”方法中
        Dispose(disposing: true);
        GC.SuppressFinalize(this);
    }
}

<style>
    .main_content {
        display: none;
        padding: 10px;
        overflow: auto;
        flex: 1;
    }

        .main_content.active {
            display: block;
        }
</style>
