@using BlazorWebAdmin.StoreData
@inject BlazorWebAdmin.Common.EventDispatcher dispatcher
@inject RouterStore store
@*菜单折叠按钮*@
<div>
	<span style="margin-left:10px;">
		<SvgIcon IconName="@IconName" OnClick="ToggleMenu"></SvgIcon>
	</span>
	@*面包屑导航*@
	<span>
		<Breadcrumb Style="display:inline-block">
			<BreadcrumbItem Href="/">
				<Icon Type="home" />
				<span>主页</span>
			</BreadcrumbItem>
			@foreach (var item in store.AllLink)
			{
				<BreadcrumbItem Href="@item.Link">
					<Icon Type="home" />
					<span>@item.PageName</span>
				</BreadcrumbItem>
			}
		</Breadcrumb>
	</span>
</div>
@*功能区域: 全屏，头像等等*@

@code {
	private bool collapse = false;
	private string IconName => collapse ? "expand_menu" : "collapse_menu";
	public async Task ToggleMenu()
	{
		collapse = !collapse;
		await dispatcher.Invoke("MenuCollapse");
		StateHasChanged();
	}
}
