@using System.Linq
@if (!Route.HasChildren || onlyOneChildren)
{
	<MenuItem RouterLink="@Route.RouteLink" RouterMatch="NavLinkMatch.All" Title=@Route.RouteName>
		<IconTemplate>
			<SvgIcon IconName="@Route.IconName"></SvgIcon>
		</IconTemplate>
	</MenuItem>
}
else
{
	<SubMenu>
		<TitleTemplate>
			<span class="subtitle_template">
				<Icon>
					<Component>
						<SvgIcon IconName="@Route.IconName"></SvgIcon>
					</Component>
				</Icon>
				<span>@Route.RouteName</span>
			</span>
		</TitleTemplate>
		<ChildContent>
			@foreach (var item in Route.Children)
			{
				<SideBarItem Route=item></SideBarItem>
			}
		</ChildContent>
	</SubMenu>
}


@code {
	[Parameter]
	public RouterMeta Route { get; set; }

	private bool onlyOneChildren => Route.Children.Count() == 1;
}
