@using BlazorAdmin.Client.TestPages.Components
@using Project.Constraints.Models.Request
@using Project.Constraints.UI
@using Project.Constraints.Utils
@inject IUIService UI
<h3>TestPage4</h3>


@* @UI.BuildButton(this).Text("生成").OnClick(BuildExpression).Render() *@
@UI.BuildButton(this).Text("Dialog").OnClick(Open).Render()
<pre>
    @jsonResult
</pre>

@code {
    ConditionUnit condition = new();

    public void BuildExpression()
    {
        // ToJson();
        var exp = condition.BuildExpression<Project.Constraints.Models.Permissions.User>();
        jsonResult = exp.ToString();
    }
    string? jsonResult;
    public void ToJson()
    {
        jsonResult = System.Text.Json.JsonSerializer.Serialize(condition, options: new System.Text.Json.JsonSerializerOptions()
            {
                WriteIndented = true
            });
    }

    public async Task Open()
    {
        var r =  await UI.ShowDialogAsync<DialogTest, int>("测试");
        UI.Success($"返回结果: {r}");
    }
}
