@page "/testscrollbar"
@using Project.Constraints.Common.Attributes
@attribute [PageInfo(Title = "滚动条测试", Icon = "fa fa-question-circle-o", GroupId = "test")]
<Project.Web.Shared.Components.ScrollBar>
    <div style="height:500px;">
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
        <p>ScrollBar</p>
    </div>
</Project.Web.Shared.Components.ScrollBar>
@code {

}
