.two-side-page-wrapper {
    display: flex;
}

.page-content {
    transition: all 0.3s ease;
}

    .page-content.second {
        margin-left: 10px;
        position: relative;
        background: #fff;
        border-radius: 5px;
        padding: 10px;
    }
