.exception-wrapper {
    width: fit-content;
    background-color: white;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    position: absolute;
    left: 50%;
    right: 50%;
    width: 70vw;
    z-index: 999;
    border: 1px solid #ccc;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-height: 70vh;
}

.exception-message {
    font-size: 1.5em;
}

.exception-stacktrace {
    flex: 1;
    overflow-y: auto;
    padding: 0 1em;
}

.exception-stacktrace-item {
    white-space: pre-wrap;
    /* display: block; */
    text-indent: -2em;
    padding-left: 2em;
    line-height: 2em;
}

.exception-footer {
    text-align: right;
    padding-right: 20px;
}
