.mark {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}

    .mark.show {
        display: block;
    }

.container {
    position: fixed;
    top: 200px;
    transition: all 0.3s;
    
}

    .container.show {
        left: 0px !important;
    }

.content {
    position: relative;
    box-shadow: var(--border-shadow);
    padding: 10px;
}

.trigger {
    position: absolute;
    right: -52px;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255 255 255 / 0.6);
    border-radius: 26px;
    box-shadow: var(--border-shadow);
    cursor: pointer;
    font-size: 48px;
    width: 52px;
    height: 52px;
    display: flex;
}
