@inherits LayoutComponentBase
@layout RootLayout
@using BlazorWebAdmin.Shared.LayoutComponents
<PageTitle>BlazorWebAdmin</PageTitle>

<div class="page">
	@*<div class="sidebar">
		<NavMenu />
		</div>*@
	<aside>
		<SideBar></SideBar>
	</aside>
	<main>
		<TagsView></TagsView>
		<AppMain>
			@Body
		</AppMain>
	</main>
	@*<BackTop TargetSelector=@("#main_content")></BackTop>*@
</div>
