@inherits LayoutComponentBase
@layout RootLayout
@using BlazorWebAdmin.Shared.LayoutComponents
@inject BlazorWebAdmin.StoreData.RouterStore store
<PageTitle>BlazorWebAdmin</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    <SideBar></SideBar>
    <main>
        <TagsView></TagsView>
        <AppMain>
            @Body
        </AppMain>
    </main>
</div>

@code{

}
