<div class="nav-bar @Class">
    <NavTabs Class="@Class"></NavTabs>
    <NavMenu Class="@Class"></NavMenu>
</div>
@code{
    [Parameter] public string? Class{ get; set; }
    private string IconName => true ? "fa fa-indent" : "fa fa-outdent";
}