.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    overflow: hidden;
}


    .nav-menu.card {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);
    }

    .nav-menu.line {
        background-color: #fff;
        padding-left: 16px;
    }
