.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    overflow: hidden;
    background-color: var(--background-color);
}


    .nav-menu.card {
        border-radius: 4px;
        box-shadow: var(--border-shadow);
    }

    .nav-menu.line {
        padding-left: 16px;
    }
