@namespace Project.Web.Shared.Components
@page "/error/test"
@using Project.Web.Shared.Layouts;
@layout NotAuthorizedLayout
<ErrorCatcher>
    <Button OnClick=Click>测试</Button>
</ErrorCatcher>
@Label
@code {
    string Label = "First";

    //void Click()
    //{
    //    Label = "After";
    //    StateHasChanged();
    //    throw new Exception("测试");
    //}

    void Click()
    {
        Label = "After";
        //StateHasChanged();
        //await Task.Delay(3000);
        //throw new Exception("测试");
        int i = 0;
        Console.WriteLine(100 / i);
    }
}
