@using BlazorWeb.Shared.Layouts.LayoutComponents
@inherits LayoutBase

<Section>
    <Aside>
        <SideBar @ref=SideBar Class="card">
            <TopBanner>
                <Banner OnToggleCollapse="e=>HandleToggleCollapse(e)" @ref=Banner></Banner>
            </TopBanner>
        </SideBar>
    </Aside>
    <Section Vertical>
        <BlazorWeb.Shared.Layouts.Layouts.Header>
            <NavBar Class="card"></NavBar>
        </BlazorWeb.Shared.Layouts.Layouts.Header>
        <Main Style="padding:16px;height: calc(100vh - 70px);">
            <AppMain ChildContent="@(ChildContent!)">
            </AppMain>
        </Main>
    </Section>
</Section>