@using BlazorWeb.Shared.Layouts.LayoutComponents
@inherits LayoutBase
@inject AppStore App
<section style="display:flex;width:100%;">
    <aside>
        <SideBar @ref=SideBar Class="classic">
            <TopBanner>
                <Banner OnToggleCollapse="e=>HandleToggleCollapse(e)"></Banner>
            </TopBanner>
        </SideBar>
    </aside>
    <section style="display:flex;flex-direction:column; width:calc(100vw - @(App.SideBarExpandWidth)px);height:100%;">
        <header style="height:50px;">
            <NavBar Class="classic"></NavBar>
        </header>
        <main style="padding:16px;height: calc(100vh - 50px);">
            <AppMain ChildContent="@(ChildContent!)">
            </AppMain>
        </main>
    </section>
</section>