@using BlazorWeb.Shared.Layouts.LayoutComponents
@inherits LayoutBase
<Section>
    <Aside>
        <SideBar @ref=SideBar Class="classic">
            <TopBanner>
                <Banner OnToggleCollapse="e=>HandleToggleCollapse(e)"></Banner>
            </TopBanner>
        </SideBar>
    </Aside>
    <Section Vertical Style="width:100%;height:100vh;">
         <BlazorWeb.Shared.Layouts.Layouts.Header>
             <NavBar Class="classic"></NavBar>
         </BlazorWeb.Shared.Layouts.Layouts.Header>
         <Main Style="padding:16px;height: 100%;">
             <AppMain>
             </AppMain>
         </Main>
     </Section>
 </Section>
