@using BlazorWeb.Shared.Layouts.LayoutComponents
@inherits LayoutBase
<Section Vertical>
    <BlazorWeb.Shared.Layouts.Layouts.Header Style="display:flex;width:100%;height: 50px;">
        <Banner ShowCollapseButton=false Class="line"></Banner>
        <SideBar Class="line" Horizontal></SideBar>
        <NavMenu Class="line"></NavMenu>
    </BlazorWeb.Shared.Layouts.Layouts.Header>
    <Main Style="padding:16px;height: calc(100vh - 50px);">
        <AppMain ChildContent="@(ChildContent!)">
        </AppMain>
    </Main>
</Section>
