* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

html, body {
    background-color: #f5f5f5;
}

.page {
    position: relative;
    display: flex;
    /* height: 100vh; */
    /* max-width: 100vw; */
    min-width: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/* 设置滚动条的样式 */
/*::-webkit-scrollbar {
    width: 6px;
}*/
/* 滚动槽 */
/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
    border-radius: 3px;
}*/
/* 滚动条滑块 */
/*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.3);
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255,0,0,0.4);
    }*/

.ant-card {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.svg-icon {
    /*width: 1.5em;
    height: 1.5em;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;*/
    height: 1em;
    width: 1em;
    line-height: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
}

.nav-icon {
    width: 1em;
    height: 1em;
}

.top-link-icon {
    margin-right: 5px;
}
