@namespace Project.Web.Shared.Components
@inherits BasicComponent
<div>

</div>

@code {
    [Parameter, NotNull] public List<ColumnInfo>? Columns { get; set; }
    [Parameter, NotNull] public IList<ConditionAggregation> ConditionAggregations { get; set; } = [];
    [Parameter, NotNull] public EventCallback<IList<ConditionAggregation>> ConditionAggregationsChanged { get; set; }
}
