@using BlazorWeb.Shared.Template.Forms;
@using Project.Models.Permissions
@inherits EntityFormTemplate<Role>

<Form Model="Value" LabelAlign=@AntLabelAlignType.Right LabelColSpan="8" WrapperColSpan="16">
	<FormItem Label="@GetLocalizeString(nameof(Value.RoleId))">
		<Input @bind-Value=context.RoleId Disabled=edit></Input>
	</FormItem>
	<FormItem Label="@GetLocalizeString(nameof(Value.RoleName))">
		<Input @bind-Value=context.RoleName></Input>
	</FormItem>
</Form>
