@namespace Project.Web.Shared.Components
@using System.Linq.Expressions
@using Project.Constraints.Page
@inherits BasicComponent
<CascadingValue Value="this">
    <div @attributes="@AdditionalParameters">
        <MGrid MinWidth=@ColumnMinWidth GridColumns="@Column" Gap="@Gap">
            @ChildContent
        </MGrid>
    </div>
</CascadingValue>
