@inherits RootLayout
@*<div>元素需要加上 tabindex 才能触发键盘事件*@
@*https://github.com/dotnet/aspnetcore/issues/11137*@
<div id="app"
     @ref="RootWrapper">
    <CascadingValue Value="this" IsFixed>
        @Body
    </CascadingValue>
</div>
@code {
    // [CascadingParameter][NotNull] IAppSession? AppSession { get; set; }
    // protected override async Task OnInitializedAsync()
    // {
    //     await base.OnInitializedAsync();
    //     await AppSession.RouterStore.InitRoutersAsync(null);
    //     var url = AppSession.Navigator.ToBaseRelativePath(AppSession.Navigator.Uri);
    //     // AppSession.Navigator.NavigateTo(url);
    // }
}