@inherits LayoutComponentBase
@* @onclick="@HandleRootClick" *@
@* @onkeydown="@HandleKeyDownAction" *@
@* @onkeyup="@HandleKeyUpAction" *@
<div id="app"
     @ref="RootWrapper">
    <CascadingValue Value="this" IsFixed>
        @Body
    </CascadingValue>
</div>