@inherits LayoutComponentBase
@* @onclick="@HandleRootClick" *@
@* @onkeydown="@HandleKeyDownAction" *@
@* @onkeyup="@HandleKeyUpAction" *@
<div id="app"
     @ref="RootWrapper">
    <CascadingValue Value="this" IsFixed>
        <IndexLoading Loading="@(!Context.Loaded)" Title="正在初始化...">
            @Body
        </IndexLoading>
    </CascadingValue>
</div>