@inherits LayoutComponentBase
<div id="root"
     @onclick="@HandleRootClick"
     @onkeydown="@HandleKeyDownAction"
     @onkeyup="@HandleKeyUpAction"
     @ref="RootWrapper">
    <CascadingValue Value=this IsFixed>
        @Body
    </CascadingValue>
</div>