.ant-menu-dark svg * {
    fill: rgba(255, 255, 255, 0.65) !important;
}

.layout-logo.dark {
    color: rgba(255, 255, 255, 0.65);
    background: #001529 !important;
}

.layout-logo.line {
    height: 46px !important;
}

.ant-menu-horizontal > .ant-menu-item a::before {
    bottom: 0px !important;
}
