@page "/"
@using System.Linq.Expressions;
@using Project.Common.Attributes;
@inject NavigationManager Nav
@inject UserStore Current
@attribute [PageInfo(PageTitle = "主页", Icon = "home")]
<Card>
    <h2>
        会话创建时间: @(Current?.UserInfo?.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss"))
    </h2>
</Card>
<Card>
    <h2>
        会话活跃时间: @((Current?.UserInfo?.ActiveTime - Current?.UserInfo?.CreatedTime)?.ToString())
    </h2>
</Card>
@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
