@page "/"
@inject NavigationManager nav
<h1>主页</h1>
<DownloadTest></DownloadTest>
<LocalizerTest></LocalizerTest>
<ErrorCatcher>
    <BlazorWeb.Shared.Test.ErrorCatcherTest></BlazorWeb.Shared.Test.ErrorCatcherTest>
</ErrorCatcher>
<FetchTest></FetchTest>
@code {

}
