@namespace Project.Web.Shared.Components
@inherits JsComponentBase
@attribute [AutoLoadJsModule(Path = "Components/ScrollBar")]
<div class="wrap" @ref=WrapElementRef>
    @ChildContent
</div>

@code {
    [Parameter, NotNull] public RenderFragment? ChildContent { get; set; }
    ElementReference? WrapElementRef;
    protected override ValueTask Init()
    {
        return InvokeVoidAsync("init", WrapElementRef);
    }
}