@using AntDesign

<Project.AppCore.Layouts.AppRoot AppAssembly="@typeof(Program).Assembly">
    <AntContainer />
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Authorized>
            <Project.Web.Shared.Components.EdgeWidget>
                <div>
                    <a href="/">检验监管系统</a>
                </div>
                <div>
                    <a href="/test4">智能审核系统</a>
                </div>
            </Project.Web.Shared.Components.EdgeWidget>
        </Authorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
</Project.AppCore.Layouts.AppRoot>
